/*M!999999\- enable the sandbox mode */ 
-- MariaDB dump 10.19-12.2.2-MariaDB, for debian-linux-gnu (x86_64)
--
-- Host: localhost    Database: ventouxtina
-- ------------------------------------------------------
-- Server version	12.2.2-MariaDB-ubu2404

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*M!100616 SET @OLD_NOTE_VERBOSITY=@@NOTE_VERBOSITY, NOTE_VERBOSITY=0 */;

--
-- Table structure for table `__EFMigrationsHistory`
--

DROP TABLE IF EXISTS `__EFMigrationsHistory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `__EFMigrationsHistory` (
  `MigrationId` varchar(150) NOT NULL,
  `ProductVersion` varchar(32) NOT NULL,
  PRIMARY KEY (`MigrationId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `__EFMigrationsHistory`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `__EFMigrationsHistory` WRITE;
/*!40000 ALTER TABLE `__EFMigrationsHistory` DISABLE KEYS */;
INSERT INTO `__EFMigrationsHistory` VALUES
('20260310185634_InitialCreate','9.0.14'),
('20260310203613_RemoveIsCorrection','9.0.14'),
('20260310204049_RemoveSourceLine','9.0.14'),
('20260310212221_AddAppUsers','9.0.14');
/*!40000 ALTER TABLE `__EFMigrationsHistory` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `app_users`
--

DROP TABLE IF EXISTS `app_users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `app_users` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `Username` varchar(100) NOT NULL,
  `PasswordHash` varchar(255) NOT NULL,
  PRIMARY KEY (`Id`),
  UNIQUE KEY `IX_app_users_Username` (`Username`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `app_users`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `app_users` WRITE;
/*!40000 ALTER TABLE `app_users` DISABLE KEYS */;
INSERT INTO `app_users` VALUES
(1,'David','$2a$12$9x.VyZniUfCIL67rbyQMWekBa./QXidJj9mrT5Gv8wdJ8THWCev7y');
/*!40000 ALTER TABLE `app_users` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `fundraising_goals`
--

DROP TABLE IF EXISTS `fundraising_goals`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `fundraising_goals` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `OrganizationName` varchar(200) NOT NULL,
  `GoalAmountEur` decimal(10,2) NOT NULL,
  `IsFundraiser` tinyint(1) NOT NULL,
  `Audience` varchar(200) NOT NULL,
  PRIMARY KEY (`Id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fundraising_goals`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `fundraising_goals` WRITE;
/*!40000 ALTER TABLE `fundraising_goals` DISABLE KEYS */;
INSERT INTO `fundraising_goals` VALUES
(1,'Klimmen tegen MS',500.00,1,'backers');
/*!40000 ALTER TABLE `fundraising_goals` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `project_contexts`
--

DROP TABLE IF EXISTS `project_contexts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `project_contexts` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `Locale` varchar(10) NOT NULL,
  `Headline` varchar(500) NOT NULL,
  `BodyText` text NOT NULL,
  `FundraisingGoalText` varchar(1000) NOT NULL,
  PRIMARY KEY (`Id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `project_contexts`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `project_contexts` WRITE;
/*!40000 ALTER TABLE `project_contexts` DISABLE KEYS */;
INSERT INTO `project_contexts` VALUES
(1,'nl-BE','Tina loopt en fietst virtueel van Wachtebeke naar Mont Ventoux voor Klimmen tegen MS','Volg de voortgang van Tina op haar virtuele tocht van Wachtebeke naar de voet van de Mont Ventoux, waar ze zal deelnemen aan Klimmen Tegen MS. Elke gelogde fiets-, wandel- of loopactiviteit draagt bij tot de virtuele afgelegde afstand.','Steun Klimmen tegen MS - doelstelling EUR 500');
/*!40000 ALTER TABLE `project_contexts` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `trip_checkpoints`
--

DROP TABLE IF EXISTS `trip_checkpoints`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `trip_checkpoints` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `TripRouteId` int(11) NOT NULL,
  `Name` varchar(200) NOT NULL,
  `CumulativeDistanceKm` decimal(10,3) NOT NULL,
  `Latitude` double NOT NULL,
  `Longitude` double NOT NULL,
  `OrderIndex` int(11) NOT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_trip_checkpoints_TripRouteId` (`TripRouteId`),
  CONSTRAINT `FK_trip_checkpoints_trip_routes_TripRouteId` FOREIGN KEY (`TripRouteId`) REFERENCES `trip_routes` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=1040 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trip_checkpoints`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `trip_checkpoints` WRITE;
/*!40000 ALTER TABLE `trip_checkpoints` DISABLE KEYS */;
/*!40000 ALTER TABLE `trip_checkpoints` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `trip_log_entries`
--

DROP TABLE IF EXISTS `trip_log_entries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `trip_log_entries` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `EntryId` varchar(100) NOT NULL,
  `Timestamp` datetime(6) NOT NULL,
  `Kilometers` decimal(10,3) NOT NULL,
  `Activity` varchar(50) NOT NULL,
  PRIMARY KEY (`Id`),
  UNIQUE KEY `IX_trip_log_entries_EntryId` (`EntryId`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trip_log_entries`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `trip_log_entries` WRITE;
/*!40000 ALTER TABLE `trip_log_entries` DISABLE KEYS */;
INSERT INTO `trip_log_entries` VALUES
(6,'aae38a94-e390-4197-8773-19227e4520ee','2026-03-07 10:05:00.000000',27.900,'running'),
(7,'6ca56bd2-9c55-4f13-aca4-1531a204ae16','2026-03-08 10:20:00.000000',32.700,'running'),
(8,'10dee4a9-ac5b-49be-878b-9ba44832071f','2026-03-09 08:30:00.000000',14.100,'cycling'),
(9,'6237dd5e-aebd-4e10-9a74-755213a6d35a','2026-03-10 08:25:00.000000',14.100,'cycling');
/*!40000 ALTER TABLE `trip_log_entries` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `trip_routes`
--

DROP TABLE IF EXISTS `trip_routes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `trip_routes` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `RouteId` varchar(100) NOT NULL,
  `StartName` varchar(200) NOT NULL,
  `EndName` varchar(200) NOT NULL,
  `TotalDistanceKm` decimal(10,3) NOT NULL,
  `PolylineJson` longtext NOT NULL,
  PRIMARY KEY (`Id`),
  UNIQUE KEY `IX_trip_routes_RouteId` (`RouteId`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trip_routes`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `trip_routes` WRITE;
/*!40000 ALTER TABLE `trip_routes` DISABLE KEYS */;
/*!40000 ALTER TABLE `trip_routes` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Dumping routines for database 'ventouxtina'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*M!100616 SET NOTE_VERBOSITY=@OLD_NOTE_VERBOSITY */;

-- Dump completed on 2026-03-11 10:22:32
